# Tristan Beckmann

# 2023SP Computer Prog for Liberal Arts (CS-150-01)
## Programming Assignment 8 - Version 1
### Spring 2023

In [1]:
import numpy as np #renaming numpy as np

In [2]:
print(np.__version__)

1.21.5

### a.	Create a 2-by-2 NumPy array with elements 10,20,30,40 in it.

In [3]:
array1=np.array([[10,20], [30,40]])

##### Square every element of the array

In [5]:
squared_array=array1**2
print("Squared array: \n", squared_array)

Squared array:
 [[ 100  400]
 [ 900 1600]]

##### Add 100 to every element of the array

In [7]:
added_array=array1+100
print("Added array: \n", added_array)

Added array:
 [[110 120]
 [130 140]]

##### Multiply every element of the array by 5.

In [8]:
multiplied_array=array1*5
print("Multiplied array: \n", multiplied_array)

Multiplied array:
 [[ 50 100]
 [150 200]]

##### Calculate the square root of each element in the array.

In [9]:
sqrt_array=np.sqrt(array1)
print("Square root array: \n", sqrt_array)

Square root array:
 [[3.16227766 4.47213595]
 [5.47722558 6.32455532]]

### Create a 3-by-3 array containing integers from 3 to 27 in multiples of 3.  Create a second 3-by-3 array with 9 elements evenly spaced between 10 and 20.  Multiply these arrays together and display the output.

In [10]:
array2 = np.arange(3, 30, 3).reshape(3, 3)
print("Array 2: \n", array2)

array3 = np.linspace(10, 20, 9).reshape(3, 3)
print("Array 3: \n", array3)

result = array2 * array3
print("Result: \n", result)

Array 2:
 [[ 3  6  9]
 [12 15 18]
 [21 24 27]]
Array 3:
 [[10.   11.25 12.5 ]
 [13.75 15.   16.25]
 [17.5  18.75 20.  ]]
Result:
 [[ 30.   67.5 112.5]
 [165.  225.  292.5]
 [367.5 450.  540. ]]

### Attached to the assignment are five .npy files that contain five values each. Read these files in and stack them into a unified dataset.  This would be a 5-by-5 NumPy array.  Then calculate the mean of each column of data. Let Python do all of the heavy liftings! Donâ€™t forget, you need to put the .npy files in the same directory as your script.

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
Process_1=np.load('process1.npy')
Process_2=np.load('process2.npy')
Process_3=np.load('process3.npy')
Process_4=np.load('process4.npy')
Process_5=np.load('process5.npy')

In [15]:
dataset=np.concatenate((Process_1,Process_2,Process_3,Process_4,Process_5),axis=0)

In [18]:
print(dataset.shape)
dataset

(5, 5)

array([[52, 12, 81,  0, 58],
       [96,  4, 61, 16, 43],
       [38, 96, 45, 17, 58],
       [97, 21, 22, 25,  6],
       [77,  6, 19,  2, 74]])

In [19]:
mean_cols=np.mean(dataset,axis=0)
print(mean_cols)

[72.  27.8 45.6 12.  47.8]